
.wrapper {
    min-height: 100vh;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background-size: 400%;
    animation: BGmoves linear 5s infinite;
}

.steps{
    position: absolute;
    left: 1rem;
}

.timer_wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.timer_value{
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Exo', sans-serif;
    width: 14rem;
}

.tile{
    width: 10rem;
    height: auto;
    box-shadow: 0px 0px 35px 4px rgba(255,255,255,1);
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    margin: .2rem;
}

.flag{
    width: 1.5rem;
}

.frontImg,
.backImg{
    position: relative;
    width: 100%;
    height: auto;
    backface-visibility: hidden;
    transition: transform .15s;
}

.frontImg{
    transition-delay: .1s;
}

.backImg{
    position: absolute;
    left: 0;
    top: 0;
}

.tile.matched{
    pointer-events: none;
}

.backImg{
    transform: rotateY(0deg);
    opacity: 1;
}

.frontImg{
    transform: rotateY(270deg);
}

.tile.matched .backImg{
    transform: rotateY(90deg);
}

.tile.matched .frontImg{
    transform: rotateY(0deg);
}

.gameAreaCont{
    margin-block-start: 1.5rem;
}


.modalFooter{
    justify-content: space-around;
}

.results_tbody{
    white-space: nowrap;
    font-weight: bold;
}

.curtainWrapper{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #c5deea 0%,#8abbd7 31%,#066dab 100%);
}

/*NavBar*/

.nav_item {
    display: flex;
    margin-bottom: 0;
}
.nav_item li {
    list-style: none;
    padding: 0 .5rem 0 .5rem;
}

/*Login*/
.login_wrapper {
    display: flex;
    flex-direction: column;
    background-color: ghostwhite;
    max-width: 400px;
    margin: 0 auto;
    border: double 5px #2378dc7d;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 10rem;
    box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.75);
}

.login_title {
    align-self: center;
}

.login_wrapper .login_btn {
    margin-top: 2rem;
    align-self: flex-end;
}

.login_wrapper .login_error {
    color: red;
    margin-top: 1rem;
}

/*Preloader*/

.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 4rem);
}

/*result grid*/
.result_container {
    margin-top: 2rem;
}

table {
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

table tbody tr:nth-child(odd) {
    background-color:wheat;
}

table tbody tr:nth-child(even) {
    background: whitesmoke;
  }


table tbody tr td:nth-child(3) {
    text-align: right;
}

table tbody tr td:last-child {
    padding-right: 1.5rem;
}

/*win popup*/
.container_winPopup {
    display: grid;
    position: fixed;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-columns: 1fr;
    background: transparent;
    justify-items: center;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 400px;
    height: 300px;
    border-radius: 2rem;
    border: .1rem solid #000;
    box-shadow: 0 0 0 0.2rem #c2c2ff, 0 0 0 0.3rem black, 0 0 1rem 0.5rem rgba(0, 0, 0, 0.5);
}

.container_winPopup h2 {
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: bold;
}

.container_winPopup .user_info {
    text-align: center;
}

.container_winPopup .btn_wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.open {
    animation: animationWins linear 1s;
    transform-origin: 50% 50% ;
    transform: translate(-50%, -50%) scale(1.20); 
}


@keyframes animationWins{
    0% {
      transform:  translate(-50%, -50%) rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
    10% {
      transform:  translate(-50%, -50%) rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
    }
    20% {
      transform:  translate(-50%, -50%) rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
    }
    30% {
      transform:  translate(-50%, -50%) rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    40% {
      transform:  translate(-50%, -50%) rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    50% {
      transform:  translate(-50%, -50%) rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    60% {
      transform:  translate(-50%, -50%) rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    70% {
      transform:  translate(-50%, -50%) rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    80% {
      transform:  translate(-50%, -50%) rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    90% {
      transform:  translate(-50%, -50%) rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    100% {
      transform:  translate(-50%, -50%) rotate(0deg) scaleX(1.20) scaleY(1.20) ;
    }
  }

  @keyframes BGmoves {
      0% {
        background-position: 0% 0%;
      }

      50% {
        background-position: -100% -100%;
      }

      100% {
        background-position: 0% 0%;
      }
  }
  
  



